In [1]:
import numpy as np
import pandas as pd
import seaborn as sns # mengimport beberapa library yang dibutuhkan

In [2]:
# import dataset
dataset = pd.read_csv("data_traveloka_fix.csv", sep='|', header=None)
dataset.head(10)

          0                                                  1
0  positive  Beli dear butter only 0 rupiah from #Traveloka...
1  positive  Super deals by @traveloka and they have a lot ...
2  negative                                 rip traveloka eats
3  negative  harga shopeefood, grabfood, gofood, dan travel...
4  negative  Traveloka eats diskonnya dikit doang sekarang ...
5  negative  Traveloka eats paling sadis bakar uangnya tapi...
6  negative  Travelokaeats dan shopeefood udah kembali ke n...
7  negative  Pada ngerasa gak sih sekarang gofood, grabfood...
8  negative  Harga ongkir ojol food termahal jatuh kpd @tra...
9  negative  @traveloka ni traveloka gada diskon buat pengg...

In [3]:
dataset.head(10)

          0                                                  1
0  positive  Beli dear butter only 0 rupiah from #Traveloka...
1  positive  Super deals by @traveloka and they have a lot ...
2  negative                                 rip traveloka eats
3  negative  harga shopeefood, grabfood, gofood, dan travel...
4  negative  Traveloka eats diskonnya dikit doang sekarang ...
5  negative  Traveloka eats paling sadis bakar uangnya tapi...
6  negative  Travelokaeats dan shopeefood udah kembali ke n...
7  negative  Pada ngerasa gak sih sekarang gofood, grabfood...
8  negative  Harga ongkir ojol food termahal jatuh kpd @tra...
9  negative  @traveloka ni traveloka gada diskon buat pengg...

In [4]:
# mengecek missing values
dataset.isna().sum()

0    0
1    0
dtype: int64

In [5]:
dataset.replace('\?', np.nan, regex=True)

             0                                                  1
0     positive  Beli dear butter only 0 rupiah from #Traveloka...
1     positive  Super deals by @traveloka and they have a lot ...
2     negative                                 rip traveloka eats
3     negative                                                NaN
4     negative                                                NaN
...        ...                                                ...
1195  negative  Wah gila, baru kali ini pesen akomodasi di @tr...
1196  negative                                                NaN
1197  negative                                                NaN
1198  negative                                                NaN
1199  negative  Udahla @traveloka basi tau... Tim spesialist a...

[1200 rows x 2 columns]

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 1500)
# print(cv)
X_ = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, -1].values

CountVectorizer(max_features=1500)

NameError: name 'corpus' is not defined